/*Makes all fonts to Times New Roman*/

body {
    background-color: honeydew;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

#CenterText {
    text-align: center;
    text-decoration: underline;
}

#Videos {
    text-align: center;
    text-decoration: underline;
}

#ContactTitle {
    text-align: center;
    text-decoration: underline;
}


/*Increases the width of each input box*/

#FirstName {
    width: 200px;
    margin: -8px 16px 0px 0px;
    border: 10px solid red;
    border-radius: 20px;
}

#LastName {
    width: 300px;
    margin: -8px 16px 0px -8px;
    border: 5px solid navy;
    border-radius: 20px;
}

#email {
    width: 400px;
    margin: -8px -8px 0px -8px;
    border: 5px solid green;
    border-radius: 20px;
}